<title>{-Variable.key-} {-Variable.random-}{spin|spin2}</title>
<a href="http://mail.ru" target="_blank"><img src="https://img.imgsmail.ru/r/default/portal/0.1.29/logo.png"></a>
<p><h1>{-Variable.key-}</h1>
{-Variable.snippets-}
</p>

